﻿<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width">
        
        <title>@Page.Title</title> 
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/Content/estilos.css" />

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        
        <link rel="stylesheet" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/font-awesome.css">
        <link rel="stylesheet" href="~/Content/templatemo_misc.css">
        <link rel="stylesheet" href="~/Content/templatemo_style.css">

        <script src="~/Scripts/jquery-1.11.0.min.js"></script>
        <script src="~/Scripts/plugins.js"></script>
        <script src="~/Scripts/main.js"></script>
        <!------------------------------------------------------------------------->
        





            </head>
            <body>
                <div class="site-main" id="sTop">
                    <div class="site-header">
                        <div class="container">
                        </div><!-- /.container -->
                        <div class="main-header">
                            <div class="container">
                                <div id="menu-wrapper">
                                    <div class="row">
                                        <div class="wrapper col-md-4 col-sm-2 col-xs-8">

                                                <a href="#"><img src="~/Images/titulo.png" class="img-responsive" alt="" /></a>

                                        </div> <!-- /.logo-wrapper -->
                                        <div class="col-md-8 col-sm-10 col-xs-4 main-menu text-right">
                                            <ul class="menu-first hidden-sm hidden-xs">
                                                <li><a href="#" class="opcion_iluminada">Inicio</a></li>
                                                <li><a href="#Default" class="opcion_iluminada">Productos</a></li>
                                                <li><a href="#Contact" class="opcion_iluminada">Novedades</a></li>
                                                <li><a href="#Contact" class="opcion_iluminada">Contacto</a></li>
                                            </ul>
                                            <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                                        </div> <!-- /.main-menu -->
                                    </div> <!-- /.row -->
                                </div> <!-- /#menu-wrapper -->
                                <div class="menu-responsive hidden-md hidden-lg">
                                    <ul>
                                        <li><a href="#" class="opcion_iluminada">Inicio</a></li>
                                        <li><a href="#Default" class="opcion_iluminada">Productos</a></li>
                                        <li><a href="#Contact" class="opcion_iluminada">Novedades</a></li>
                                        <li><a href="#Contact" class="opcion_iluminada">Contacto</a></li>
                                    </ul>
                                </div> <!-- /.menu-responsive -->
                            </div> <!-- /.container -->
                        </div> <!-- /.main-header -->
                    </div> <!-- /.site-header -->

                    <div class="site-slider">
                        <div class="slider">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <div class="overlay"></div>
                                        <img src="~/images/foto1.jpg" alt="">
                                        <div class="slider-caption visible-md visible-lg">
                                            <h2>Accesorios</h2>
                                            <p>Estos y muchos mas.</p>
                                            <a href="#" class="slider-btn">Ver mas.</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="overlay"></div>
                                        <img src="~/images/foto2.jpg" alt="">
                                        <div class="slider-caption visible-md visible-lg">
                                            <h2>Repuestos</h2>
                                            <p>Las mejores marcas.</p>
                                            <a href="#" class="slider-btn">Ver mas.</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="overlay"></div>
                                        <img src="~/images/foto3.jpg" alt="">
                                        <div class="slider-caption visible-md visible-lg">
                                            <h2>Lujos</h2>
                                            <p>Para toda clase de motocicleta.</p>
                                            <a href="#" class="slider-btn">Ver mas.</a>
                                        </div>
                                    </li>
                                </ul>
                            </div> <!-- /.flexslider -->
                      </div> <!-- /.slider -->
                    </div> <!-- /.site-slider -->
                </div> <!-- /.site-main -->



               <!-------------------------------------------------------------->
                <div id="body">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
                @RenderSection("Scripts", required: false)
                <!-------------------------------------------------------------->
            </body>
</html>