﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

   <body>
        <div class="container">
            <div class="row">

                <div class="col-md-4 text-left">
                    <form class='contacto'>
                        <hgroup>
                            Contáctanos
                        </hgroup>
                        <div><label>Tu Nombre:</label><input type='text' value='' placeholder="Escribe tu nombre"></div>
                        <div><label>Tu Email:</label><input type='text' value='' placeholder="ejemplo@ejemplo.com"></div>
                        <div><label>Asunto:</label><input type='text' value='' placeholder="Escribe tu asunto"></div>
                        <div><label>Mensaje:</label><textarea rows='6' placeholder="Escribe un mensaje"></textarea></div>
                        <div><input type='submit' value='Envia Mensaje'></div>
                    </form><br />
                </div>

                <div class="col-md-6 text-left">
                    <form class="contacto">
                        <hgroup>
                            Información
                        </hgroup>
                        <p>
                            Brinda seguridad, confianza, beneficios y certificación a todos nuestros clientes. <br />
                            Carrera 10 No 14 - 38 Centro<br />
                            Florencia - Caquetá<br />
                            Cel: 3115463548<br />
                            e-mail:<br />
                            servirepuestosrojas@gmail.com <br />
                        </p>
                    </form><br />
                    <video src="~/Images/Servirepuestos.mp4" width="600" autoplay loop controls></video>
                </div>
            </div>
        </div>
       

    </body>