﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}
<div class="container">
    <div class="text-center">
        <p id="services">
            <hr />
            <h1><ins>CONTACTO</ins></h1>
            <h1>Carrera 10 No 14-38 Centro</h1>
            <h1>Florencia - Caquetá </h1>
            <h1>3115463548 </h1>
            <h1>servirepuestosrojas@gmail.com</h1>
        </p>

    </div>
    <div class="row">
        <div class="col-md-8 col-xs-12 text-left">
            Copyright © 2013 Servirepuestos Rojas
        </div> <!-- /.text-center -->
        <div class="col-md-4 hidden-xs text-right">
            <a href="#top" id="go-top">Inicio</a>
        </div> <!-- /.text-center -->
    
    </div> <!-- /.row -->
</div> <!-- /.container -->
<br />