/*

 Theme Name: Sandwich Qbano
 Theme URI: http://ypainc.net
 Description: Template Sandwich qbano wordpress
 Author: Juan sebastian aparicio
 Version: 1.0
 
 */

@font-face {
	font-family: 'allerregular';
	src: url('fonts/aller_rg-webfont.eot');
	src: url('fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'), 
		 url('fonts/aller_rg-webfont.woff') format('woff'), 		
		 url('fonts/aller_rg-webfont.ttf') format('truetype'), 
		 url('fonts/aller_rg-webfont.svg#allerregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'futura_bdcn_btbold';
    src: url('fonts/futurabc-webfont.eot');
    src: url('fonts/futurabc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurabc-webfont.woff') format('woff'),
         url('fonts/futurabc-webfont.ttf') format('truetype'),
         url('fonts/futurabc-webfont.svg#futura_bdcn_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswaldbook';
    src: url('fonts/oswald-regular-webfont.eot');
    src: url('fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-regular-webfont.woff') format('woff'),
         url('fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bagallysemibold';
    src: url('fonts/bagally-webfont.eot');
    src: url('fonts/bagally-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bagally-webfont.woff') format('woff'),
         url('fonts/bagally-webfont.ttf') format('truetype'),
         url('fonts/bagally-webfont.svg#bagallysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'allerregular',Arial, Helvetica, sans-serif;
	background: url("img/body_bg.jpg") #fcf7f1;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	font-weight: normal;
}
img{
	max-width: 100%;
	height: auto;
}
.h1{
	color: #5a1e01;
	text-align: center;
	margin-bottom: 48px;
	padding: 0 15px;
}
.h1 img{
	margin-right: 16px;
}
a{
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
.top_links{
	margin-top: 20px;
}
.top_links a{
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #a7766c;
	margin-right: 66px;
	display: inline-block;
}
.top_links a img{
	margin-right: 12px;
}
.logo{
	text-align: center;
	height: 0;
}
.logo a{
	display: inline-block;
	padding: 23px 26px;
	background: #fff;
	border-bottom: 4px solid #e8801f;
	border-top: 4px solid #e8801f;
	position: relative;
    top: -19px;
    z-index: 999;
}
.sombra_left{
	position: absolute;
	top: 50%;
	margin-top: -79px;
	left: -35px;
}
.sombra_right{
	position: absolute;
	top: 50%;
	margin-top: -79px;
	right: -35px;
}
header nav.navbar-collapse{
	background: #e8801f;
	border-bottom: 3px solid #fff;
	border-top: 3px solid #fff;
	margin-top: 15px;
}
.navbar-brand, .navbar-nav > li.margin{
	margin-right: 320px;
}
.navbar-brand, .navbar-nav > li > a{
	color: #fff;
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-shadow: none;
	padding: 28px;
	
	transition: all 0.5s ease-in-out;
}
.navbar-brand, .navbar-nav > li > a:hover, .navbar-brand, .navbar-nav > li > a:focus, .navbar-nav > li.current-menu-item > a{
	color: #8c4d13;
	background: none;
}
.radio{
	background: url("img/radio_bg.png") left bottom repeat-x #42ac11;
	margin: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 0;
}
.radio .col-md-3{
	text-align: center;
	background: url("img/radio_ondas.png") center left no-repeat;
}
.radio h1{
	color: #fff103;
}
.radio .col-md-5{
	text-align: center;
}
.radio_player{
	text-align: center;
}
.radio .col-md-5 a{
	display: inline-block;
	color: #fff;
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 24px;
}
.radio .col-md-5 a.active{
	color: #fff103;
}
.home .container > section{
	padding: 40px 0 60px;
}
.home .sidebar .widget{
	margin-bottom: 8px;
}
.info{
	border-left-width: 10px;
	border-right-width: 10px;
	border-left-style: solid;
	border-right-style: solid;
	padding: 9px;
}
.info.red{
	background: url("img/info.png") right bottom no-repeat #e11b24;
	border-left-color: #c51820;
	border-right-color: #c51820;
}
.info h2{
	font-size: 22px;
	color: #fff;
	text-align: center;
	float: left;
	width: 100%;
}
.info h2 a{
	color: #fff;
}
.info p{
	color: #fff;
	font-size: 12px;
}
.promociones_wrapper{
	background: url("img/promociones.png") left top repeat-x #ffa600;
}
.promociones p{
	color: #fff;
}
.promociones .h1{
	margin-bottom: 18px;
}
.promociones_slider{
	text-align: center;
	margin: 50px 0;
	position: relative;
}
.roundabout-holder{
	height: 29em;
      width: 52%;
	display: block;
	margin: 0 auto;
}
.roundabout-moveable-item{
	list-style-type: none;
	display: block;
	height: 100%;
      width: 100%;
}
.promociones_slider li a{
	display: block;
}
.promociones_slider li a img{
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.noticias{
	background: url("img/linea_noticias.png") top left repeat-x;
	padding-top: 25px;
}
.noticias .titulo_noticia{
	background: #d90102;
	padding: 17px 14px;
}
.noticias .foto_noticia{
	padding: 0;
	float: left;
	width: 50%;
}
.noticias .foto_noticia a{
	display: block;
	height: 112px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.noticias .titulo_noticia{
	float: left;
	min-height: 112px;
	width: 50%;
}
.noticias .titulo_noticia a{
	color: #fff;
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.comparte_wrapper{
	background: url("img/comparte_bg.png") left top repeat-x;
	text-align: center;
}
.comparte_wrapper a{
	display: inline-block;
	color: #4c4c4c;
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0 5px;
}
footer{
	background: #e8801f;
	border-bottom: 3px solid #fff;
	border-top: 3px solid #fff;
	margin-top: 15px;
	text-align: center;
	margin-bottom: 25px;
	color: #fff;
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	padding: 15px;
	font-size: 15px;
	
	border-radius: 3px;
}
footer .navbar-nav{
	text-align: center;
	float: none;
}
footer .navbar-nav > li{
	float: none;
	display: inline-block;
}
footer .navbar-nav > li > a{
	padding: 30px 40px;
	text-transform: uppercase;
	font-size: 16px;
}
.navbar-toggle .icon-bar{
	background: #fff;
}
.navbar-toggle{
	margin-top: 6px;
	margin-bottom: 6px;
}


/* menu */

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.navegacion_menu{
	background: #f6c008;
	width: 90%;
	margin: 64px auto 20px;
	text-align: center;
	position: relative;
	margin-bottom: 40px;
}
.navegacion_menu ul{
	padding: 0;
}
.navegacion_menu li{
	list-style-type: none;
	display: inline-block;
	margin-right: 16px;
}
.navegacion_menu a{
	display: block;
	padding: 17px 0 12px 12px;
	color: #fff;
	font-family: 'oswaldbook';
	font-size: 16px;
	background: url("img/separador_menu.png") no-repeat left center;
	
	text-shadow: 1px 1px 0px #b27902;
}
.navegacion_menu .solapa1{
	position: absolute;
	left: -24px;
	top: 6px;
}
.navegacion_menu .solapa2{
	position: absolute;
	right: -24px;
	top: 6px;
}
.menu{
	width: 31%;
	float: left;
	padding-left: 15px;
	padding-right: 146px;
	padding-top: 24px;
	padding-bottom: 20px;
	background-position: center right;
	background-repeat: no-repeat;
	margin: 1%;
	background-color: #fff;
	
	border-radius: 5px;
    box-shadow:  0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
.menu h2{
	font-size: 29px;
	color: #f6c008;
	font-weight: normal;
	font-family: 'bagallysemibold';
	line-height: 15px;
	margin-top: 0;
}
.menu p{
	color: #6d6767;
	font-size: 14px;
	min-height: 160px;
	font-family: 'oswaldbook';
}
a:hover{
	text-decoration: none;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
          transition-duration: 0.8s;
}

.isotope {
          transition-property: height, width;
}

.isotope .isotope-item {
          transition-property:         transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
          transition-duration: 0s;
}


/* fin menu */


.post-container, .interna_sidebar{
	margin-top: 60px;
}
.post-container .img_container{
	border-bottom: 3px solid #e8801f;
}
.article_container{
	background: #fff;
	padding: 30px 70px;
}
.h3{
	font-family: 'oswaldbook', Arial, Helvetica, sans-serif;
	font-size: 48px;
	color: #5a1e01;
}
.meta{
	color: #9b5c40;
	font-family: 'oswaldbook', Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-bottom: 45px;
}
.article_container  .meta a{
	color: #9b5c40;
}
.meta > div{
	vertical-align: middle;
}
.meta img{
	margin-right: 10px;
}
.article_container p{
	font-size: 15px;
    line-height: 21px;
}
.category .article_container a{
	color: #5A1E01;
}
.article_container a{
	color: #e88322;
}
.compartir{
	margin-top: 36px;
	border-top: 1px solid #d9dada;
	border-bottom: 1px solid #d9dada;
	text-align: right;
	padding: 0 16px;
	color: #9b5c40;
	font-family: 'oswaldbook', Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}
.compartir span{
	margin-right: 8px;
}
.compartir a{
	background: #D9DADA;
    display: inline-block;
    height: 43px;
    padding: 10px 0;
    text-align: center;
    width: 41px;
    margin: 0 1px;
}
.noticia_anterior, .noticia_siguiente{
	text-transform: uppercase;
	color: #333;
	font-family: 'oswaldbook', Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 35px;
}
.noticia_anterior{
	text-align: right;
}
.noticia_anterior img{
	margin-right: 4px;
}
.noticia_siguiente img{
	margin-left: 4px;
}
.separador{
	text-align: center;
	margin-top: 35px;
}
.noticia_anterior a, .noticia_siguiente a{
	display: block;
	font-family: 'oswaldbook', Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #e8801f;
	text-transform: none;
	margin-top: 8px;
}
.agregar_comentario{
	margin-top: 36px;
	border-top: 1px solid #d9dada;
	border-bottom: 1px solid #d9dada;
	text-align: center;
	padding: 0 16px;
	color: #9b5c40;
	font-family: 'oswaldbook', Arial, Helvetica, sans-serif;
	font-size: 19px;
	text-transform: uppercase;
	padding: 8px;
	margin-bottom: 15px;
}
.fb-comments,
.fb-comments span,
.fb-comments iframe{
	width:100% !important;
}
.interna_sidebar .heading{
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #5a1e01;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 4px solid #e8801f;
	padding-bottom: 18px;
	margin-top: 0;
}
.interna_sidebar > .widget{
	margin-bottom: 40px;
}
.interna_sidebar > .widget > .post{
	margin-bottom: 14px;
	float: left;
	width: 100%;
}
.interna_sidebar > .widget > .post > a {
    display: block;
    float: left;
    margin-right: 5%;
    width: 30%;
}
.interna_sidebar > .widget > .post > h2{
	float: left;
	width: 65%;
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 21px;
}
.interna_sidebar > .widget > .post > h2 a{
	color: #333333;
	font-family: 'oswaldbook', Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.interna_sidebar .screen-reader-text{
	display: none;
}
.interna_sidebar .sf_search {
    display: block;
    width: 100%;
}
.interna_sidebar .sf_search .sf_input{
	width: 90% !important;
	height: auto !important;
	padding: 12px !important;
}
.interna_sidebar .sf_search span.sf_block{
	height: auto;
}
.sf_search .sf_button .interna_sidebar, .interna_sidebar .sf_search .searchsubmit{
	background: url("img/buscar.png") no-repeat center !important;
	right: 8px !important;
	top: 7px !important;
	width: 26px !important;
	height: 26px !important;
	box-shadow: none !important;
}
.interna_sidebar .social{
	text-align: center;
}
.interna_sidebar .social a{
	display: inline-block;
	width: 24%;
}
.interna_sidebar iframe {
	width: 100% !important;
	background: #fff;
}
.wrapper{
	background: #fff;
	margin-top: 60px;
}
.h1.big{
	font-size: 65px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-transform: uppercase;
}
.valores{
	margin: 30px 0;
}
.valores h1, .valores p{
	padding: 0 45px;
}
.valores h1{
	color: #5A1E01;
}
body .vco-storyjs p, body .vco-storyjs blockquote, body .vco-storyjs blockquote p, body .vco-storyjs .twitter blockquote p{
	font-family: 'allerregular', Arial, Helvetica, sans-serif !important;
}
body .vco-storyjs .vco-feature h1, body .vco-storyjs .vco-feature h2, body .vco-storyjs .vco-feature h3, body .vco-storyjs .vco-feature h4, body .vco-storyjs .vco-feature h5, body .vco-storyjs .vco-feature h6{
	font-family: 'oswaldbook', Arial, Helvetica, sans-serif !important;
}
.leer_mas{
	background: #e8801f;
	padding: 15px 30px;
	border-radius: 5px;
	display: inline-block;
	font-family: 'oswaldbook', Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #fff !important;
	text-transform: uppercase;
	text-align: center;
	margin: 30px 0;
}
.post-container .img_container a{
	display: block;
	position: relative;
}
.mascara{
	background: url("img/ver_mas.png") center no-repeat rgba(232,128,31,0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	
	transition: all 0.5s ease-in-out;
}
.post-container .img_container a:hover .mascara{
	opacity: 1;
}
.wp-pagenavi{
	text-align: center;
	margin-top: 25px;
}
body .wp-pagenavi > a, body .wp-pagenavi > span{
	display: inline-block;
	border-radius: 3px;
	border: none;
	background: #3a960f;
	color: #fff;
	padding: 9px 12px;
	font-family: 'oswaldbook',Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}
.encuentra_punto{
	margin-top: 100px;
}
.encuentra_punto h1{
	font-family: 'oswaldbook',Arial, Helvetica, sans-serif;
	font-size: 48px;
	color: #5a1e01;
	margin-top: 0;
	text-align: right;
}
.encuentra_punto .col-md-6:first-child{
	border-right: 1px solid #e98d2f;
}
.row.ciudades{
	margin: 0;
}
.punto .row{
	background: #fff;
	margin-bottom: 25px;
	margin-left: 0;
	margin-right: 0;
	min-height: 130px;
}
.punto p{
	margin-bottom: 10px;
	vertical-align: middle;
}
.punto p img{
	float: left;
	margin-right: 8px;
	vertical-align: middle;
}
.punto .col-md-8{
	padding-top: 20px;
	padding-left: 9px;
}
.puntos .col-md-4{
	height: 100%;
	min-height: 130px;
	text-align: center;
	color: #fff;
	font-family: 'oswaldbook',Arial, Helvetica, sans-serif;
	font-size: 23px;
	padding-top: 30px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	
	transform: all 0.5s ease-in-out;
	
	background: #9ac33a url('img/pin_puntos.png') no-repeat center;
}
.puntos:hover .col-md-4{
	background-color: #85a932;
}
.puntos.category-bogota .col-md-4{
	background: #e01b24 url('img/pin_puntos.png') no-repeat center;
}
.puntos.category-bogota:hover .col-md-4{
	background-color: #b3161d;
}
.puntos.category-medellin .col-md-4{
	background: #edc419 url('img/pin_puntos.png') no-repeat center;
}
.puntos.category-medellin:hover .col-md-4{
	background-color: #d5b016;
}
.puntos.category-otros .col-md-4{
	background: #d5790c url('img/pin_puntos.png') no-repeat center;
}
.puntos.category-otros:hover .col-md-4{
	background-color: #b9690a;
}
.nav-tabs{
	text-align: center;
}
.nav-tabs{
	border: none;
	margin-bottom: 50px;
	margin-top: 30px;
}
.nav-tabs > li{
	float: none;
	display: inline-block;
}
.nav-tabs > li a{
	padding: 0;
	margin: 0;
	transition: all 0.7s ease-in-out;
	position: relative;
	font-family: 'oswaldbook',Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #5a1e01;
}
.nav-tabs > li a div{
	width: 142px;
	height: 142px;
	background: #ccc; 
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: none;
	border: none;
	z-index: 5;
	
	transform: scale(1.2,1.2);
}
.nav-tabs > li.active > a div{
	box-shadow: 0 0 2px rgba(0,0,0,0.6);
}
.volver_arriba{
	position: fixed;
	right: 25px;
	bottom: 50px;
	cursor: pointer;
}
.contact_info > div, .formulario > div{
	background: #fff;
	padding: 30px;
	margin-top: 25px;
}
.formulario > div .row{
	margin-left: 0;
	margin-right: 0;
}
.formulario{
	font-family: 'oswaldbook',Arial, Helvetica, sans-serif;
	font-size: 17px;
    text-align: right;
    text-transform: uppercase;
	color: #5a1e01;
}
.formulario input, .formulario textarea, .formulario select{
	border: none;
	padding: 15px;
	width: 100%;
	background: #f0f0f0;
	margin-bottom: 10px;
	font-family: 'allerregular',Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.formulario textarea{
	max-height: 140px;
}
.formulario input.wpcf7-submit{
	font-family: 'oswaldbook',Arial, Helvetica, sans-serif;
	font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    background: #E8801F;
}
.formulario .col-md-4{
	padding-top: 12px;
}
.formulario h1{
	font-size: 31px;
	text-align: center;
}
.contact_info h1{
	text-transform: uppercase;
	color: #5a1e01;
	font-size: 45px;
}
span.wpcf7-not-valid-tip {
    color: #FF0000;
    display: block;
    font-size: 1em;
    margin-bottom: 12px;
    margin-top: -10px;
    text-transform: none;
}
body div.wpcf7-validation-errors {
    border: none;
    margin-top: 12px;
    text-align: center;
}
.content_container{
	padding: 25px;
	padding-bottom: 50px;
}
.search .h1{
	text-transform: uppercase;
}
.ver_noticias{
	background: #D90102;
	padding: 12px;
	color: #fff;
	margin-top: 25px;
	padding: 12px;
	display: inline-block;
}
.ver_noticias:hover{
	color: #fff;
}
.article_container iframe {
    height: 490px;
    width: 100%;
}
.prev, .next{
	display: block;
	width: 45px;
	height: 45px;
	position: absolute;
}
.prev{
	background: url("img/prev.png");
	left: 0;
	top: 50%;
	margin-top: -22px;
}
.next{
	background: url("img/next.png");
	right: 0;
	top: 50%;
	margin-top: -22px;
	z-index: 9999999;
}
.page-id-433 .content_container > ul{
	width: 70%;
	margin: 0 auto;
	padding: 0;
}
.page-id-433 .content_container > ul li{
	list-style-type: none;
	background: url("img/ecologicos.png") no-repeat center left;
	margin-bottom: 32px;
    min-height: 31px;
    padding-left: 60px;	
}
.page-template-legal-php .content_container {
    padding: 25px 130px 50px;
}
/*Redes Sociales*/
.rsociales{
	color:#333;
	font-size:16px;
	text-align:center;
	margin: 30px 0px 60px;
}
.facebook{
	background:url('img/facebook.png');
	background-repeat:no-repeat;
	width:259px;
	height:107px;
	display: inline-block;
	padding: 40px 0px 40px 50px;
	color:#ffffff;
}
.twitter{
	background:url('img/twitter.png');
	background-repeat:no-repeat;
	width:259px;
	height:107px;
	display: inline-block;
	padding: 40px 0px 40px 96px;
	color:#ffffff;
}
.instagram{
	background:url('img/instagram.png');
	background-repeat:no-repeat;
	width:259px;
	height:107px;
	display: inline-block;
	padding: 40px 0px 40px 50px;
	color:#ffffff;
}
.rsociales .row, .slideh .row{
	margin:0px;
}	
.slideh{
	text-align:center;
	position:relative;
}
.img1{
	background:url('img/sq1.jpg');
	background-repeat:no-repeat;
	height:650px;
	background-size:cover;
	background-position: center center;
}
.img2{
	background:url('img/sq1.jpg');
	background-repeat:no-repeat;
	height:650px;
	background-size:cover;
	background-position: center center;
}
.img3{
	background:url('img/sq1.jpg');
	background-repeat:no-repeat;
	height:650px;
	background-size:cover;
	background-position: center center;
}
.slideh img{
	display:inline-block;
	
}
.texth{		
	color:#FFFFFF;
	font-size:24px;		
}
.linea{
	background:url('img/lineaqbano.png');
	height:4px;
	background-repeat:repeat-x;
	background-size: cover;
	background-position: center center;
}
.cat{
	display:inline-block;
	background:#ffa600;
	color:#FFFFFF;
	font-size:24px;	
	bottom:180px;
	border-bottom:5px solid #ef9403;
	padding: 10px;
	margin-top:15px;
}
.cat2{
	display:inline-block;
	background:#69ac21;
	color:#FFFFFF;
	font-size:24px;	
	bottom:180px;
	border-bottom:5px solid #4b8012;
	padding: 10px 50px;
	margin-top:15px;
}
.cat2 a, .cat a{
	text-decoration: none;
	color:#FFFFFF;
}
/*Compartir*/
.compartirtrivia{
	text-align:center;
}
.compartirtrivia h3{	
	color:#e11b24;
	font-size:36px;
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	float:left;	
	margin: 0px 17px 0px 100px;
}
.infotrivia{
	display:inline-block;
	width:51%;
	background:url('img/compartir.png')left center;
	background-repeat:no-repeat;
	padding:60px 0px;
}
.compartirtrivia img{
	float:left;
}
/*Trivia*/
.trivia{
	background:#ffa600;
	background-image:url('img/qbalfa.png');
	background-position:bottom center;
	background-repeat:no-repeat;
}
.imagenaranja{
	background-image:url('img/naranja_img.png');
	background-repeat:repeat-y;
	background-size:cover;	
}
.imagentrivia{
	text-align:center;	
}
.imagentrivia img{
	display:inline-block;
	margin:60px 0px 0px; 
}
.trivia form h2{
	color:#FFFFFF;
	font-size:48px;
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	margin: 40px 0px 0px;
}
.btncen{
	text-align:center;
	padding:30px 0px;
}
.trivia form .enviar{
	background:transparent;
	border:3px solid #ffffff;
	font-family: 'allerregular', Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 28px;
	padding: 6px 40px;
	display:inline-block;	
}
.trivia form #email{
	background:transparent;
	border:3px solid #ffffff;
	font-family: 'allerregular', Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 28px;
	padding: 6px 40px;
	display:inline-block;
	margin-right:30px;
}
.trivia form input::-webkit-input-placeholder {
    color:rgba(0,0,0,0.2);
    font-weight:italic;
}
.trivia form input:-moz-placeholder {
    color:rgba(0,0,0,0.2);
    font-weight: italic;
}
.pie{
	color:#333;
	font-size:16px;
	text-align:center;
	margin:40px 0px;
}
#contador{
	color:#FFFFFF;
	font-size:170px;
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	text-align: center;	
	text-shadow: 1px 1px 5px #333;
}
.imagenaranja h2{
	text-align:center;
	color:#FFFFFF;
	font-size:40px;
	margin-top: 0px;	
	line-height:61px;	
	margin-bottom:0px;	
	width:100%;	
	display:inline-block;
	border-bottom: 4px solid #ffffff;
}
.imagenaranja .msj{
	color:#FFFFFF;
	font-size:18px;
	font-family: 'allerregular', Arial, Helvetica, sans-serif;
	text-align: center;
	margin-bottom: 20px;
	
}
#myModal, #myModal2{
	color:#333;
	text-align:center;
}	
#myModalLabel{
	font-family: 'futura_bdcn_btbold', Arial, Helvetica, sans-serif;
	color:#fe6104;
	font-size: 34px;	
}
#myModal .modal-body, #myModal2 .modal-body{
	text-align: left;
}
.modal-body a, .modal a:hover{
	text-decoration: none;
	color:#fc5f02;
}
.textcuent{
	color: #fff;
	padding: 0 50px;
	font-size: 16px;
	margin-top: 40px;
}
.alfam{
	/*background-color: rgba(200,7,43,0.6);*/
	color:#ffa600;
	padding: 5px 57px;
	text-shadow:1px 1px 1px #999;
	margin-top:20px;	
	text-align:justify;
}
.backgroundtono{	
	background-color: rgba(255,251,212,0.9);
	position: absolute;
	top: 5%;
	width: 72%;
	left: 13%;
	display: block;
	padding: 20px;
}
.pestana{	
	display: block;
	position: fixed;
	top:25%;	
	right: 0;
	z-index:24;	
	margin-right:-4px;	
}



/* Large desktop */
@media (min-width: 1200px) {

}
@media (min-width: 980px) and (max-width: 1199px) {
	.top_links{
		text-align: center;
	}
	.top_links a{
		margin-bottom: 15px;
	}
	.logo a{
		top: 0;
		margin-left: 0;
		width: 100%
	}
	.logo{
		height: auto;
	}
	.navbar-brand, .navbar-nav > li.margin{
		margin: 0;
	}
	header nav.navbar-collapse{
		margin-top: 0;
		border-top: none;
	}
	.noticias article{
		margin-bottom: 8px;
	}
	.sidebar{
		margin-top: 25px;
	}
	.main_nav{
		text-align: center;
	}
	.navbar-nav > li {
	    display: inline-block;
	    float: none;
	    text-align: center;
	}
	.navbar-nav > li > a{
		padding: 18px 28px;
	}
	.radio .col-md-5 a{
		padding: 29px 15px;
	}
	footer .navbar-nav > li > a{
		padding: 30px;
	}
	.menu{
		width: 31%;
		margin: 1%;
	}
	.formulario{
		text-align: center;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.top_links{
		text-align: center;
	}
	.top_links a{
		margin-bottom: 15px;
	}
	.logo a{
		top: 0;
		margin-left: 0;
		width: 100%
	}
	.logo{
		height: auto;
	}
	.navbar-brand, .navbar-nav > li.margin{
		margin: 0;
	}
	header nav.navbar-collapse{
		margin-top: 0;
		border-top: none;
	}
	.noticias article{
		margin-bottom: 8px;
	}
	.sidebar{
		margin-top: 25px;
	}
	.main_nav{
		text-align: center;
	}
	.navbar-nav > li {
	    display: inline-block;
	    float: none;
	    text-align: center;
	    width: 25%;
	}
	.navbar-nav > li > a{
		padding: 18px 28px;
	}
	.menu{
		width: 47%;
		margin: 1%;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		transform: scale(1,1);
	}
	.nav-tabs > li a{
		font-size: 18px;
	}
	.nav-tabs > li a div{
		width: auto;
		height: auto;
	}
	.nav-tabs > li{
		width: 19%;
	}
	.nav-tabs{
		margin-bottom: 20px;
	}
	.encuentra_punto h1{
		text-align: center;
	}
	.encuentra_punto .col-md-6:first-child{
		border: none;
	}
	.encuentra_punto {
	    margin-top: 40px;
	}
	.formulario{
		text-align: center;
	}
	.roundabout-holder{
		height: 20em;
	}
	
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.top_links{
		text-align: center;
	}
	.top_links a{
		margin-bottom: 15px;
	}
	.logo a{
		top: 0;
		margin-left: 0;
		width: 100%
	}
	.logo{
		height: auto;
	}
	.navbar-header{
		background: #E8801F;
	}
	header nav.navbar-collapse{
		margin-top: 0;
	}
	.navbar-brand, .navbar-nav > li > a{
		padding: 15px 20px;
	}
	.radio .col-md-5 a{
		padding: 12px;
	}
	.navbar-brand, .navbar-nav > li.margin{
		margin: 0;
	}
	.h1 img{
		display: none;
	}
	.noticias article{
		margin-bottom: 8px;
	}
	.sidebar{
		margin-top: 25px;
	}
	footer .navbar-nav > li{
		width: 100%;
	}
	footer .navbar-nav > li > a {
	    padding: 16px 40px;
	}
	.menu{
		width: 98%;
		margin: 1%;
	}
	.navegacion_menu {
	    padding: 1px 15px;
	    width: 100%;
	    margin: 18px auto;
	}
	.post-container, .interna_sidebar{
		margin-top: 30px;
	}
	.article_container{
		padding: 30px;
	}
	.noticia_anterior{
		text-align: left;
	}
	.valores h1, .valores p{
		padding: 0 12px;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		transform: scale(1,1);
	}
	.nav-tabs > li a{
		font-size: 18px;
	}
	.nav-tabs > li a div{
		width: auto;
		height: auto;
	}
	.nav-tabs > li{
		width: 19%;
	}
	.nav-tabs{
		margin-bottom: 20px;
	}
	.encuentra_punto h1{
		text-align: center;
	}
	.encuentra_punto .col-md-6:first-child{
		border: none;
	}
	.encuentra_punto {
	    margin-top: 40px;
	}
	.formulario{
		text-align: center;
	}
	.page-id-433 .content_container > ul{
		width: 100%;
	}
	.page-template-legal-php .content_container {
	    padding: 25px;
	}
	.radio{
		padding-bottom: 15px;
	}
	body .plate .info{
		position: static;
		width: 100% !important;
		margin: 0;
		text-align: center;
	}
	.plate .rPlate{
		display: none;
	}
	.plate .lPlate {
		float: none;
		display: inline-block;
	}
	.texth .alfam{
		padding:5px 0px;
		font-size: 20px;
	}
	.backgroundtono{
		padding:10px 0px;
		width: 90%;
		left: 5%;
		top:15%;
	}
	.cat, .cat2{
		font-size:18px;
	}
	.cat2{
		padding: 10px 38px;
	}
	.slideh img{
		max-width: 50%;
	}
	.trivia form h2{
		font-size:30px;
	}
	.trivia form .enviar{
		margin-top: 8px;
		width: 100%;
	}
	.trivia form #email{
		width: 100%;
	}
	.textcuent{
		padding: 20px 50px;		
		margin-top: 10px;
	}
	.infotrivia{
		background:none;
	}
	.compartirtrivia h3{
		width:100%;
		margin:0px;
	}
	.addthis_toolbox{
		display:inline-block;
	}


}
@media (max-width: 640px){
	.roundabout-holder{
		height: 16em;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		transform: scale(1,1);
	}
	.nav-tabs > li a{
		font-size: 18px;
	}
	.nav-tabs > li a div{
		width: auto;
		height: auto;
	}
	.nav-tabs > li{
		width: 19%;
	}
	.nav-tabs{
		margin-bottom: 20px;
	}
	.roundabout-holder{
		height: 9em;
	}
	.article_container iframe {
	    height: auto;
	    width: 100%;
	}
	.h1.big{
		font-size: 45px;
	}
	.h3{
		font-size: 33px;
	}
	.texth{
		font-size: 18px;
	}
	.slideh img{
		max-width: 50%;
		left: 25%;
	}
	.infotrivia {
	background: none;
	padding: 20px 0px;
	width:100%;
	}
	.infotrivia h3 {
	margin: 0px;
	float: none;
	margin-bottom: 10px;
	}
	.addthis_toolbox{
		display:inline-block;
	}
	.ac-custom{
		padding:0px;
		
	}
	.trivia form h2{
		font-size:35px;
		text-align:center;
	}
	.trivia form #email{
		padding: 6px 0px;
		width:100%;		
		margin-right:0px;
	}
	.trivia form .enviar{
		width:100%;	
		margin-top:8px;
	}
	.textcuent{
		padding: 0 0px;		
		margin-top: 0px;
		margin-bottom: 25px;
	}
	.pestana{	
	display: none;	
	}
	.texth .alfam{
		padding:5px 0px;
	}
	.backgroundtono{
		padding:10px 0px;
		width: 90%;
		left: 5%;
	}
	.cat, .cat2{
		font-size:18px;
	}
	.cat2{
		padding: 10px 38px;
	}
}