﻿@model PROYECTO_FINAL.Models.Imagenes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Imagenes</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_imagen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_imagen }) |
    @Html.ActionLink("Back to List", "Index")
</p>
