﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

   <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                    <form class='contacto'>
                        <div><label>Tu Nombre:</label><input type='text' value=''></div>
                        <div><label>Tu Email:</label><input type='text' value=''></div>
                        <div><label>Asunto:</label><input type='text' value=''></div>
                        <div><label>Mensaje:</label><textarea rows='6'></textarea></div>
                        <div><input type='submit' value='Envia Mensaje'></div>
                    </form><br />
                </div>
                <div class="col-md-6 text-left"><br /><br />
                    <h1 class="text-center">INORMACIÓN</h1><br />
                    <h3>
                        Brinda seguridad, confianza, beneficios y certificación a todos nuestros clientes. <br />
                        Carrera 10 No 14 - 38 Centro<br />
                        Florencia - Caquetá<br />
                        Cel: 3115463548<br />
                        e-mail:<br />
                        servirepuestosrojas@gmail.com <br />
                    </h3><br />
                    <video src="~/Images/Servirepuestos.mp4" width="600" autoplay loop controls></video>
                </div>
            </div>
        </div>
       

    </body>