﻿*{
	margin:0px;
	padding:0px;
    
}

header{
	margin:100px auto;
	width:1100px;
	height:90px;
	background-color: #808080;
}

div.contenedor{
	width: 200px;
	height: 46px;
	float:left;
}

img.icon{
	margin:20px;
    margin-left: 100px;
}

div#uno{
    margin-left: 10px;
}

div#dos{
    margin-left: 20px;
}

div#tres{
    margin-left: 30px;
}

div#cuatro{
    margin-left: 40px;
}
/*----------------------------------------------------------------------------------------*/