﻿/* html, body
   -------------------------------------------- */
* { padding: 0; margin: 0; border: 0 none }
a, object, input { outline: 0 }

html { display: block }
   
html, body {
    height: auto !important;
    margin: 0;
    min-height: 100%;
    font-family: 'titilliumtext14l250_wt';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    text-align: center;
    color: rgba(0,0,0,0.3);
    background: #FFFFFF;
    position: relative;
}
.marcaagua{
    background: url('../images/lo.png');
    
}


h1, h2, h3, h4, h5, h6 { 
    font-family: 'titilliumtext14l800_wt';
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#wrap {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}
img { max-width: 100% }
.gm-style img { max-width: none }

address { font-style: normal }

nav ul { padding: 0 }

/* Utiles
   -------------------------------------------- */

.alt { color: #EFDFAB }
.clear { clear: both }
.hide { display: none }

/* placeholder */
::-webkit-input-placeholder { color:#7D0042; }
::-moz-placeholder { color:#7D0042; }
:-ms-input-placeholder { color:#7D0042; }
input:-moz-placeholder { color:#7D0042; }


.trans_all {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/* Main
   -------------------------------------------- */

h1 { font-size: 26px }
h2 { font-size: 22px }



body { z-index: 1 }
body#novpage::after,
body#corppage::after {
  content: " ";
  background: url('../images/fnd_frase_int1.jpg');
  background-size: cover;
  opacity: 0.09;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;   
}

/* Header
   -------------------------------------------- */

.header-container { 
    width: 100%; height: 108px; position: absolute; top: 0; z-index: 10000;
    
}
.header-container .logo { margin: 27px 0 0 110px; display: inline-block; text-align: left }
.header-container nav { float: right; margin-right: 110px; margin-top: 12px  }
.header-container nav ul { margin: 0 }
.header-container nav li { height: 70px; min-width: 70px; display: table; float: left; margin: 0 12px; position: relative }
.header-container nav li:last-child { margin-right: 0 }
.header-container nav li a { 
    color: #FFFFFF;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'titilliumtext14l800_wt';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    text-transform: uppercase;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header-container .lang { 
    position: absolute; 
    right: 10px; top: 20px;
    background: #20231E;
    color: #58B419;
    font-family: 'titilliumtext14l800_wt';
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 18px;
    /*display: inline-block;*/
    display: none;
}
.header-container .lang:hover { background: #58B419; color: #20231E; text-decoration: none } 

.header-container .mobile-nav {
    float: right;
    width: 60px;
    cursor: pointer;
    display: none; 
    font-size: 70px;
    position: relative;
    top: 25px;
    right: 30px;
}


/**/
/* Effect 18: cross */
.cl-effect-18 { position: relative; z-index: 1 }

.cl-effect-18 a {
    color: #b4770d;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.cl-effect-18 a::before,
.cl-effect-18 a::after {
    position: absolute;
    width: 70px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    top: 50%;
    height: 1px;
    margin-top: -1px;
    background: transparent;
    content: '';
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.cl-effect-18 a::before {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
}

.cl-effect-18 a::after {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    transform: translateY(20px);
}

.cl-effect-18 a:hover,
.cl-effect-18 a:focus,
.cl-effect-18 a.active { color: #73B943 }

.cl-effect-18 a:hover::before,
.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::before,
.cl-effect-18 a:focus::after,
.cl-effect-18 a.active::after { opacity: 0.7 }

.cl-effect-18 a:hover::before,
.cl-effect-18 a:focus::before,
.cl-effect-18 a.active::before {
    background: #73B943;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::after,
.cl-effect-18 a.active::after {
    background: #73B943;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/**/


.colnav { margin: 0; text-align: left; overflow: hidden }


#map_canvas { width: 100%; height: 660px; border-bottom: 10px solid #FFFFFF }


#marcas2 { margin-bottom: 140px }
ul.categorias { list-style: none; margin: 0; padding: 0; position: relative; display: block; z-index: 10500 }
#marcas .categorias li { width: 25%; height: 250px; float: left }
#marcas2 .categorias li { width: 50%; height: 200px; float: left }
.categorias li a {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'titilliumtext14l800_wt';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#marcas2 .categorias li a { height: 200px }
.categorias li a .titulo {
    left: 0; position: absolute; top: 50%; width: 100%; z-index: 4;
    display: block; font-size: 20px; color: #FFFFFF; 
}
.categorias li a .overlay { 
    height: 100%; left: 0; position: absolute; top: 0; width: 100%; 
    z-index: 2; background-color: rgba(0,0,0,0.7); overflow: hidden;
}
.categorias li a .overlay .logo {
    top: 250px; left: 0; right: 0; width: 80%; margin: 0 auto; padding-top: 30px;
    position: absolute;
}
#marcas2 .categorias li a .overlay .logo { top: 200px }
.categorias li a .overlay .logo:before {
    border-top: 1px solid #FFFFFF;
    display: block;
    content: '';
    width: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.categorias li a:hover .logo:before {
    width:100%;
    -webkit-transition: width 170ms ease-in-out 300ms;
    -moz-transition: width 170ms ease-in-out 300ms;
    -o-transition: width 170ms ease-in-out 300ms;
    transition:width 170ms ease-in-out 300ms
}

.categorias li a:hover {
    -moz-box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
    z-index: 100;
}

.categorias li a:hover .overlay,
.categorias li a.active .overlay { 
    background-color: rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 0 0 #FFFFFF;
    -webkit-box-shadow: 0 5px 0 0 #FFFFFF;
    box-shadow: 0 5px 0 0 #FFFFFF;
}

.categorias li a:hover .titulo { top: 30% }
#marcas2 .categorias li a:hover .titulo { top: 20% }
.categorias li a:hover .overlay .logo { top: 130px }
#marcas2 .categorias li a:hover .overlay .logo { top: 100px }


/**/
#marcas h2 { text-align: left; margin: 0; padding: 0 0 20px }
#marcas2 h2 { text-align: left; color: #58B419; margin: 0; padding: 75px 0 20px }


/*main home*/
#mainHome {
    background: url('../images/fnd_frase_Home.jpg') no-repeat center center; 
    background-size: cover; 
    min-height: 345px;
    position: relative;
}
#mainHome:before {
    content: '';
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 114px;
    background: url('../images/bar_productosDown_home.svg') no-repeat center top;
    background-size: contain;
    -webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
}
#mainHome .overlay { 
    width: 100%; height: 100%; left: 0; position: absolute; top: 0; 
    z-index: 2; background-color: rgba(0,0,0,0.7); overflow: hidden;
}
#mainHome h1, #mainHome h2 { margin: 0 }
#mainHome h1 { padding-top: 130px }
#mainHome h2 { font-family: 'titilliumtext14l250_wt' }
/**/


/**/
#novedades {
    width: 100%;
    height: 564px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    margin-top: -95px;
    background: url('../images/fnd_novedades.svg') no-repeat center top;
    -webkit-filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
}
#novedades a { color: #FFFFFF }
#novedades.novpage { background-image: url('../images/fnd_novedades2.svg') }
#novpage #novedades { margin-top: -370px }
#novedades h2 { text-align: left; padding: 60px 0 50px 0 }
#novedades .item .img { float: left; text-align: left; width: 20%; margin: 0; padding: 5px }
#novedades .item figure {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 218px;
    height: 218px;
    overflow: hidden;
    -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.12);
    box-shadow: 0 0 0 5px rgba(0,0,0,0.12);
}
#novedades .item figure img { border-radius: 50% }
#novedades .item .info { float: left; width: 80%; padding: 0 5%; text-align: left }
#novedades .item .info h3 { padding: 16px 0 30px; }

.novedades .owl-dots { border-top: 1px solid rgba(0,0,0,0.2); padding-top: 15px; margin: 0 auto; width: 50% }
.novedades .owl-dot { display: inline-block; position: relative; margin: 3px; }
.owl-dot span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #171A16;
    cursor: pointer;
}
.owl-dot.active span { background: #FFFFFF }

.no-touch .owl-nav div {
    position: absolute;
    top: 22%;
    width: 120px;
    height: 120px;
    background-color: #20231e;
    cursor: pointer;
    z-index: 2000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-box-shadow: 0 0 0 8px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 0 8px rgba(0,0,0,0.12);
    box-shadow: 0 0 0 8px rgba(0,0,0,0.12);
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.no-touch .owl-nav .owl-prev{ left: -124px }
.no-touch .owl-nav .owl-next{ right: -124px }

.no-touch .owl-nav .owl-prev:before,
.no-touch .owl-nav .owl-next:before { 
    content: "d";
    font-family: "atmopel";
    font-size: 60px;
    color: #73b943;
    display: block;
    position: absolute;
}
.no-touch .owl-nav .owl-prev:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 21px; left: 50px
}
.no-touch .owl-nav .owl-next:before { 
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 21px; right: 50px
}

.no-touch .owl-nav div:hover {
    background-color: #58B419;
    -moz-box-shadow: 0 0 0 8px rgba(88,180,25,0.2);
    -webkit-box-shadow: 0 0 0 8px rgba(88,180,25,0.2);
    box-shadow: 0 0 0 8px rgba(88,180,25,0.2);
}
.no-touch .owl-nav div:hover:before { color: #FFFFFF }

/**/


.main-container header {
    width: 100%;
    height: 104px;
    background: url('../images/fnd_titulo.svg') no-repeat center top;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.5));
}
.main-container header h1 {
    color: rgba(0,0,0,0.3);
    padding: 25px 0 0 10%;
    margin: 0;
    text-align: left;
}

/**/

.pro #marcas2 h2 { color: #FFFFFF }

#propage .main-container { background: url('../images/fnd_productosInterna.svg') no-repeat left 380px }
#propage .main-container.pro { background: none }


/**/
#contactpage .main-container #main {
    float: left;
    width: 50%;
    text-align: left;
    padding-top: 30px;
    background-color: #F5F5E4;
}
#contactpage .main-container #main p { margin: 0 10%; width: 80% }
#contactpage .main-container aside {
    float: left;
    width: 40%;
    padding: 30px 5%;
    background-color: rgba(0,0,0,0.12);
    text-align: left;
}
#contactpage .main-container aside h2 { padding-bottom: 15px }
#contactpage .main-container aside h3 { margin: 50px 0 30px; font-size: 16px }
#contactpage .main-container aside h4 { margin: 25px 0 0; font-size: 16px }

#contactpage .ubicacion .map_content { 
    width: 90%; 
    margin: 0 auto;
    border: 10px solid #FFFFFF; 
    background-color: #FFFFFF;
}
#contactpage .ubicacion { position: relative; margin-bottom: 100px }
#contactpage .ubicacion h2 { text-align: left; margin-left: 5% }
#contactpage .ubicacion .map_content #map-canvas { height: 380px }
#contactpage .ubicacion h3 { text-align: left }
#contactpage .ubicacion address { text-align: left }
#contactpage .ubicacion a.mas { position: absolute; right: 12%; bottom: -21px; width: 150px }

/**/
#novpage .wrapper.main { z-index: 100; position: relative }
.news-wrapper { padding-top: 20px }
#novpage .news { float: left; width: 53%; padding: 0; margin-left: 7%; text-align: left  }
.invpage #mainContentIn header h1 { padding: 40px 0 26px 60px; color: #EA7E23 }
h2.archivo { padding: 30px 0 0 0; font-size: 22px; text-align: left; color: #58B419; text-transform: none }
#mainContent #main header h1 { padding: 30px 0 30px 14px; color: #EA7E23 }
.entry { 
    background: #000;
    text-align: left;
    margin-top: 27px;
    position: relative;
    margin-bottom: 30px;
    -moz-box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
}
.new .entry { margin-bottom: 0 }
.entry .info { padding: 20px 40px 10px; font-size: 15px; color: #9EAAA7; }
.new .entry .info { padding-top: 75px; padding-bottom: 80px }
.eimage .info h2,
.eimage .info time { padding-left: 210px }
.eimage .info time { padding-bottom: 18px }
.entry h2 {
    padding-bottom: 35px; color: #58B419; font-size: 20px }
.news .entry h2 { padding-bottom: 2px; margin: 0; text-transform: none }
.new .news .entry h2 { padding-bottom: 80px }
.entry time { color: #9EAAA7; display: block; padding-bottom: 12px; font-size: 14px }
.entry h2 a { color: #FFFFFF; text-decoration: none }
.entry h2 a:hover { color: #A2C30F }
.entry p { padding-bottom: 20px; line-height: 1.5em }
.eimage p { padding-left: 210px }
.new .entry p { padding-left: 0 }
.entry ol, .entry ul { padding-left: 24px }

.entry .imageentry {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
.entry .imageentry img { display: block }
.entry .lupa:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -30px auto 0;
    width: 60px;
    height: 60px;
    background: url('../images/icn_zoom.png') no-repeat left top;    
}

#novpage .main aside { 
    padding: 40px 0 0 0; float: right; width: 40%; 
    font-family: 'titilliumtext14l800_wt';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#novpage .main aside h3 { padding: 0 0 40px 100px; margin: 0; font-size: 24px; text-align: left; color: #A4A9A8; text-transform: none }
#novpage .main aside ul { text-align: left; position: relative; padding-left: 70px; margin: 0 }
#novpage .main aside li { margin: 0 auto 15px; display: inline-block }
.arrow_box {
    position: relative;
    float: left;
    display: block;
    background: #1D201B;
    color: #9CA2A0;
    width: 200px;
    text-align: left;
    padding: 20px 30px;
    height: 66px;
    border-radius: 0;
}

.new .news .imgs {
    background: #1E211D; 
    padding: 20px;
    -moz-box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
}
.new .news .imgs h3 { color: #58B419; text-transform: none; margin-bottom: 20px }
.new .news .imgs a { display: inline-block; margin-bottom: 3px }

.arrow_box:hover,
.arrow_box.active { background-color: #58B419 !important; color: #20231E; text-decoration: none }
.arrow_box:hover:after,
.arrow_box.active:after {
    right: 100%;
    top: 50%;
    border: solid;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #58B419;
    border-width: 33px 30px 33px 0;
    margin-top: -33px;
}


.leermas {
    font-family: "atmopel";
    text-decoration: none;
    font-size: 29px;
    position: absolute;
    right: 22px; bottom: 12px;
    color: #E7E7D7;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leermas:hover { color: #A2C30F; text-decoration: none }


.share { display: table; width: 100% }
.sharetxt { 
    color: #9eaaa7; display: table-cell !important; width: 140px;
    vertical-align: middle; font-size: 14px; padding: 14px 0 0 
}
.barshare { position: absolute; top: -11px; right: 0; }
#novpage .barshare { top: auto; bottom: 0 }
.barshare .share { 
    margin: 0; text-align: left; 
    -webkit-box-shadow: 0 4px 0 0 #58B419;
    box-shadow: 0 4px 0 0 #58B419;
}
/**/


.producto { margin: 30px 0 60px; position: relative }
.producto h2 { text-align: left; margin-bottom: 30px }
.producto article { 
    height: 455px;
    -moz-box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px 4px rgba(0,0,0,0.3);
}
.producto article .info { 
    width: 30%;
    height: 100%;
    padding: 30px 30px 20px;
    line-height: 1.3em;
    float: right;
    display: block;
    z-index: 1;
    position: relative;
    color: #58B419;
    text-align: left;
}
.producto article .info a {
    color: #58B419
}
.producto article .info::after {
    content: " ";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;   
}
.producto article .info img { margin-bottom: 30px }
.producto article .catalogo { width: 70%; height: 100%; float: left; background: #E6E6E6 }


/**/
#corppage .main-container article { width: 65%; float: left; text-align: left; padding: 0 50px 80px; line-height: 1.4em }
#corppage .main-container article h2 { color: #58B419; padding: 30px 0 25px }
#corppage .main-container article p { padding-bottom: 20px }
#corppage .main-container aside { width: 35%; float: left; padding: 16px 10px 80px; text-align: left }
#corppage .main-container aside figure { margin-bottom: 35px }
#corppage .main-container aside img { border: 5px solid #58B419 }
#corppage .main-container aside figcaption { text-align: left; font-size: 11px }

/**/

#corppage .main-container .contact article { width: 55% }
#corppage .main-container .contact aside { width: 45% }

.contact article .col-sm-6 h2 { padding: 0 !important; color: #FFFFFF !important }
.contact article .col-sm-6 h3 { text-transform: none; margin-bottom: 20px }
.contact aside h2 { margin-bottom: 40px }
.contact .row h2 { color: #FFFFFF; text-transform: none; margin-bottom: 14px }
.contact .addresses .col-sm-12 { margin-bottom: 30px }
.contact .addresses p { font-size: 14px; line-height: 1.4em }
.contact .map-content { width: 100%; border: 5px solid #171816; margin: 10px 0 }
.contact .map { height: 170px }

/**/

/**/




/* Footer
   -------------------------------------------- */

.footer-container {
    background: #171A16 url('../images/fnd_footer.jpg') no-repeat center bottom; 
    height: auto; padding-bottom: 20px; margin-top: -300px;
    position: relative 
}
.footer-container .pse {
    background: url('../images/logoPSE.png') no-repeat center right;
    text-align: left;
    height: 180px;
    display: table;
    padding: 0 210px 0 0;
    position: absolute;
    z-index: 100;
    top: 150px; right: 65px;
}
.footer-container .pse a { color: #BEBEBE }
.footer-container .pse a:hover { color: #58B419; text-decoration: none }
#novpage .footer-container .pse { top: 185px }
.footer-container .addresses { margin-top: 355px; text-align: left }
.footer-container .addresses .col-sm-3 { margin-bottom: 30px }

.footer-container .pse span { display: table-cell; vertical-align: middle }
.footer-container .wrapper { max-width: 980px; margin: 0 auto }

.web9grados {
    background: url("../images/logo9g.png") no-repeat left center;
    background-size: 9px 12px;
    height: 15px;
    float: right;
    display: inline-block;
    padding: 0 0 0 16px;
    line-height: 1em;
}
.footer-container .web9grados { margin-right: 60px }
.web9grados a {
    color: #676B5A;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
}
.web9grados a:hover { text-decoration: underline }

article.about{
    color: white;
    text-align: start;
    text-decoration-style: double;  
}

.show-item{

}
.show-item img{
    max-width: 720px;
    height: 220px;
}

.show-lujos img{
    max-width: 720px;
    height: 160px;
}

.show-acces img{
    max-width: 720px;
    height: 150px;
}


.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #e15d5d inset;
}
.contacto label{
    display: block;
    font-weight: bold;
}
.contacto div{
    margin-bottom: 15px;
}
.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 294px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none;
    box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}

 
.contacto input:required:valid, .contacto textarea:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.contacto input:focus:invalid, .contacto textarea:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}