﻿@model IEnumerable<PROYECTO_FINAL.Models.Productos>

@{
    ViewBag.Title = "Discos";
}

<h1>Discos</h1>

<table class="table">
    <tr>
        <th>

            <div id="products" class="content-section">
                <div class="show-lujos">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="section-title">Disco de freno</h1>
                        </div> <!-- /.col-md-12 -->
                    </div> <!-- /.row -->

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Cripton</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Productos/Repuestos/1.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Llanta michelin</h3>
                                
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Pulsar</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Rpuestos/4.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Tapones para aceite</h3>
                                
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Bwis</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Repuestos/6.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Ventilador</h3>
                                
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Disco de freno</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Repuestos/d1.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Carburador</h3>
                                
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Disco de freno</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Repuestos/d2.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Amortiguador</h3>
                                
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->
                       
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /#products -->

        </th>
</table>
