﻿@model PROYECTO_FINAL.Models.Pagina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pagina</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_pagina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_pagina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detalle_pagina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detalle_pagina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_pagina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_pagina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fk_menu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_menu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pagina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
