﻿@{
    ViewBag.Title = "";
}
<h2 id="acerca">@ViewBag.Title</h2>

<div class="wrapper clearfix">

    <div >
        <br />
        <p id="acerca">Acerca de:</p>
        <img src="~/images/7.png">
        <div id="aboit">
            <br /><p>Es una empresa Caquetense fundada el 15 de diceimbre del 2013, con el ánimo de satisfacer las necesidades de repuestos y accesorios de motos para la región. Contamos con personal experimentado para atender y dar soluciones acerca de nuestros articulos para nuestros clientes, quienes son para nosotros una prioridad.</p>
            <div class="row">
                    <h1 class="text-left">Misión</h1><br />
                    <p>Comercializar Repuestos Lujos y Accesorios de calidad para motocicletas, con precios justos y competitivos, brindando a nuestros clientes una excelente atención, cumplimiento y garantías, con honestidad y transparencia.</p><br />
                    <h1 class="text-left">Visión</h1><br />
                    <p>Ser líder local y regional en la comercialización de Repuestos, Lujos y Accesorios de calidad para motocicletas, con precios competitivos y un alto grado de compromiso con nuestros clientes, brindándoles garantías y respaldo.</p>
                
            </div>
        </div>
    </div>
   <style>
       #acerca{
           font-size: 60px;
           color: black;
       }
       #aboit{
           color: black;
           text-align: justify;
           font-size: 20px;
           
       }
       
   </style>
</div>