﻿@{
    ViewBag.Title = "Contact";
}



<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-left">
                <form class='contacto'>
                <h1 id="contac" class="text-center">Contacto</h1>
                    <div><label>Tu Nombre:</label><input type='text' value='' placeholder="Nombre"></div>
                    <div><label>Tu Email:</label><input type='text' value='' placeholder="Correo"></div>
                    <div><label>Asunto:</label><input type='text' value='' placeholder="Asunto"></div>
                    <div><label>Mensaje:</label><textarea rows='6' placeholder="Mensaje"></textarea></div>
                    <div><input type='submit' value='Envia Mensaje'></div>
                </form><br />
            </div>
            <div class="col-md-6 text-left">
                <br /><br />
                <h1 id="informa" class="text-center">INFORMACIÓN</h1><br />
                <p>
                    Brinda seguridad, confianza, beneficios y certificación a todos nuestros clientes. <br />
                    Carrera 10 No 14 - 38 Centro<br />
                    Florencia - Caquetá<br />
                    Cel: 3115463548<br />
                    e-mail:<br />
                    servirepuestosrojas@gmail.com <br />
                </p><br />
                <video src="~/Images/Servirepuestos.mp4" width="600" autoplay loop controls></video>
            </div>
        </div>
    </div>
    
    <style>
        #informa, #contac {
            font-size: 25px;
            color: #2c23ff;
        }
    </style>

</body>