﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
   <h1><img src="~/images/7.png" class="img-responsive" alt="..."/></h1>
    <p><div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
           <div class="show-item">
               <div class="carousel-inner" role="listbox">
                   <div class="item active">
                       <img src="~/images/lujos/1.jpg" alt="">
                   </div>

                   <div class="item">
                       <img src="~/images/lujos/2.jpg" alt="">
                   </div>

                   <div class="item">
                       <img src="~/images/lujos/3.jpg" alt="">
                   </div>

                   <div class="item">
                       <img src="~/images/lujos/4.jpg" alt="">
                   </div>

                   <div class="item">
                       <img src="~/images/lujos/5.jpg" alt="">
                   </div>

                   <div class="item">
                       <img src="~/images/lujos/17.jpg" alt="">
                   </div>

               </div>
           </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div></p>
</div>

<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="product-item">
            <h2><b>Repuestos</b></h2>
            <div class="thumbnail">
                <div class="item-thumb">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <a href="~/Productos/Repuestos" class="view-detail">Repuestos</a>
                        </div>
                    </div>
                    <img src="~/images/6.jpg" alt="..."> 
                </div>
                <div class="caption">
                    <h4 id="repu">Contamos con las mejores calidades.</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="product-item">
            <h2><b>Lujos</b></h2>
            <div class="thumbnail">
                <div class="item-thumb">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <a href="~/Productos/Lujos" class="view-detail">Lujos</a>
                        </div>
                    </div>
                    <img src="~/images/2.jpg" alt="...">
                </div>
                <div class="caption">
                    <h4 id="lujo">Los mejores lujos los encuentras aqui.</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="product-item">
            <h2><b>Accesorios</b></h2>
            <div class="thumbnail">
                <div class="item-thumb">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <a href="~/Productos/Accesorios" class="view-detail">Accesorios</a>
                        </div>
                    </div>
                    <img src="~/images/8.jpg" alt="...">
                </div>
                <div class="caption">
                    <h4 id="acce">Los mejores accesorios que vas a encontrar.</h4>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    #acce, #repu, #lujo {
        font-family: 'titilliumtext14l250_wt';
        color: black;
        text-transform: inherit;
        font-size:25px;
    }
</style>