﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SERVIREPUESTOROJAS</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/templatemo_style.css")
    @Styles.Render("~/Content/templatemo_misc.css")
    @Styles.Render("~/Content/animate.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/normalize.min.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/styles.css")
    @Styles.Render("~/Content/index_style.css")
    @Styles.Render("~/Content/bootstrap.css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/plugins.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/scripts/jquery.easing-1.3.js")

</head>
<body class="marcaagua">
<!------------------------------------    MENU      -------------------------------------------------------------------------->
    <div id="front">
        <div class="site-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div id="templatemo_logo" class="responsive">
                        </div> <!-- /.logo -->
                    </div> <!-- /.col-md-4 -->
                    <div class="col-md-8 col-sm-6 col-xs-6">
                        <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                        <div class="main-menu">
                            <ul>
                                <li><a href="/home/index">Inicio</a></li>
                                <li><a href="/home/about">Acerca de</a></li>
                                <li><a href="/productos/inicio">Productos</a></li>
                                <li><a href="/home/contact">Contacto</a></li>
                            </ul>
                        </div> <!-- /.main-menu -->
                    </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="responsive">
                            <div class="main-menu">
                                <ul>
                                    <li><a href="#front">Home</a></li>
                                    <li><a href="#services">Services</a></li>
                                    <li><a href="#products">Products</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.site-header -->
    </div> <!-- /#front -->

      
<!-------------------------------------------------------------------------------------------------------------->
    <div class="container body-content responsive">
        @RenderBody()
        <hr />
        <header class="responsive">

            <div class="contenedor responsive" id="uno">
                <img class="icon" src="~/images/1.png" />
            </div>

            <div class="contenedor responsive" id="dos">
                <img class="icon" src="~/images/2.png" />
            </div>

            <div class="contenedor responsive" id="tres">
                <img class="icon" src="~/images/3.png" />
            </div>

            <div class="contenedor responsive" id="cuatro">
                <img class="icon" src="~/images/4.png" />
            </div>
        </header>
        <p>
            <h1 id="cont">Contacto</h1>
            <p id = "unos">
                Vendedores de repuestos para motos <br />
                Carrera 10No 14-38 Centro <br />
                Florencia - Caquetá <br />
                Cel: 3115463548 <br />
                Mail: servirepuestosrojas@gail.com
            </p>
       </p>
        <footer>
            <hr />
            <p id="doses">&copy; 2013 SERVIREPUESTOSROJAS</p>
        </footer>
    </div>
    <style>
        #unos, #doses{
            color: #372e29;
        }
        #cont{
            color:black;
        }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
