﻿@model IEnumerable<PROYECTO_FINAL.Models.Productos>

@{
    ViewBag.Title = "Accesorios";
}

<table class="table">
    <tr>
        <th>
            <div id="products" class="content-section">
                <div class="show-acces">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="section-title">Accesorios</h1>
                        </div> <!-- /.col-md-12 -->
                    </div> <!-- /.row -->

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Cintas</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Accesorios/3.jpg" alt=" ">
                                </div> <!-- /.item-thumb -->
                                <h3>Cintas</h3>
                                <span>Precio: <em class="text-muted">$12.000</em> - <em class="price">$10.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Botas</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Accesorios/4.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Botas para la lluvia</h3>
                                <span>Precio: <em class="text-muted">$22.000</em> - <em class="price">$20.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Guantes</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Accesorios/13.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Guantes</h3>
                                <span>Precio: <em class="text-muted">$30.000</em> - <em class="price">$20.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Luces exloradoras</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Accesorios/7.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Exploradoras</h3>
                                <span>Precio: <em class="text-muted">$110.000</em> - <em class="price">$100.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Cascos para dama</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Accesorios/23.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Cascos</h3>
                                <span>Precio: <em class="text-muted">$30.000</em> - <em class="price">$25.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /#products -->

        </th>

</table>
