﻿@model PROYECTO_FINAL.Models.Productos

@{
    ViewBag.Title = "";
}

<h2>Crear producto</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Nombre del producto</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre_productos)
                @Html.ValidationMessageFor(model => model.nombre_productos)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Descripción de producto</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion_producto)
                @Html.ValidationMessageFor(model => model.descripcion_producto)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Precio producto</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.precio_producto)
                @Html.ValidationMessageFor(model => model.precio_producto)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Oferta</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.oferta)
                @Html.ValidationMessageFor(model => model.oferta)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Categoria</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fk_categoria)
                @Html.ValidationMessageFor(model => model.fk_categoria)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index", null, htmlAttributes: new {@class= "btn btn-danger"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
