﻿@model PROYECTO_FINAL.Models.Productos

@{
    ViewBag.Title = "Borrar";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_productos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_productos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oferta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oferta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fk_categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_categoria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new {@class="btn btn-danger"})
        </div>
    }
</div>
