﻿@model PROYECTO_FINAL.Models.Productos

@{
    ViewBag.Title = "Detalle";
}

<div>
    <h4>Detalle del Producto</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre del producto</label>

        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_productos)
        </dd>

        <dt>
            <label>Descripción del producto</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_producto)
        </dd>

        <dt>
            <label>Precio del producto</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_producto)
        </dd>

        <dt>
            <label>Oferta</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oferta)
        </dd>

        <dt>
            <label>Categoria</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_categoria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_productos }, htmlAttributes: new {@class="btn btn-successe"}) |
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new {@class = "btn btn-danger"})
</p>
