﻿@model PROYECTO_FINAL.Models.Productos

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Productos</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id_productos)

        <div class="form-group">
            @Html.LabelFor(model => model.nombre_productos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre_productos)
                @Html.ValidationMessageFor(model => model.nombre_productos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion_producto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion_producto)
                @Html.ValidationMessageFor(model => model.descripcion_producto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio_producto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.precio_producto)
                @Html.ValidationMessageFor(model => model.precio_producto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.oferta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.oferta)
                @Html.ValidationMessageFor(model => model.oferta)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fk_categoria, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fk_categoria)
                @Html.ValidationMessageFor(model => model.fk_categoria)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
