﻿@model IEnumerable<PROYECTO_FINAL.Models.Productos>

@{
    ViewBag.Title = "Productos";
}
<br />
<h2>Productos</h2>

<p>
    @Html.ActionLink("Crear producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Nombre del producto</label>
        </th>
        <th>
            <label>Descripción del producto</label>
        </th>
        <th>
            <label>Precio del producto</label>
        </th>
        <th>
            <label>Oferta</label>
        </th>
        <th>
            <label>Categoria</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_productos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oferta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fk_categoria)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id_productos }, htmlAttributes: new {@class = "btn btn-danger"})
        </td>
    </tr>
}

</table>