﻿@model IEnumerable<PROYECTO_FINAL.Models.Productos>

@{
    ViewBag.Title = "Inicio";
}<br /><br /><br />
<h1>PRODUCTOS</h1>

<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="product-item">
            <h2><b>Repuestos</b></h2>
            <div class="thumbnail">
                <div class="item-thumb">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <a href="~/Productos/Repuestos" class="view-detail">Repuestos</a>
                        </div>
                    </div>
                    <img src="~/images/6.jpg" alt="...">
                </div>
                <div class="caption">
                    <h4 id="repu">Contamos con las mejores calidades.</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="product-item">
            <h2><b>Lujos</b></h2>
            <div class="thumbnail">
                <div class="item-thumb">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <a href="~/Productos/Lujos" class="view-detail">Lujos</a>
                        </div>
                    </div>
                    <img src="~/images/2.jpg" alt="...">
                </div>
                <div class="caption">
                    <h4 id="lujo">Los mejores lujos los encuentras aqui.</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="product-item">
            <h2><b>Accesorios</b></h2>
            <div class="thumbnail">
                <div class="item-thumb">
                    <div class="overlay">
                        <div class="overlay-inner">
                            <a href="~/Productos/Accesorios" class="view-detail">Accesorios</a>
                        </div>
                    </div>
                    <img src="~/images/8.jpg" alt="...">
                </div>
                <div class="caption">
                    <h4 id="acce">Los mejores accesorios que vas a encontrar.</h4>
                </div>
            </div>
        </div>
    </div>

</div>

