﻿@model IEnumerable<PROYECTO_FINAL.Models.Productos>

@{
    ViewBag.Title = "Lujos";
}

<table class="table">
    <tr>
        <th>

            <div id="products" class="content-section">
                <div class="show-lujos">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="section-title">Lujos</h1>
                        </div> <!-- /.col-md-12 -->
                    </div> <!-- /.row -->

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Amortiguadores</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Lujos/1.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Amortiguadores</h3>
                                <span>Precio: <em class="text-muted">$110.000</em> - <em class="price">$100.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Tapones</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Lujos/16.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Tapones para aceite</h3>
                                <span>Precio: <em class="text-muted">$20.000</em> - <em class="price">$15.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Ventilador</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Lujos/3.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Ventilador</h3>
                                <span>Precio: <em class="text-muted">$50.000</em> - <em class="price">$40.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Carburador</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Lujos/4.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Carburador</h3>
                                <span>Precio: <em class="text-muted">$40.000</em> - <em class="price">$35.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Exploradoras</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Lujos/7.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Luces exploradoras</h3>
                                <span>Precio: <em class="text-muted">$110.000</em> - <em class="price">$98.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Bwis</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Lujos/15.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Lujo bwis</h3>
                                <span>Precio: <em class="text-muted">$40.000</em> - <em class="price">$25.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Pata</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Lujos/14.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3>Pata</h3>
                                <span>Precio: <em class="text-muted">$50.000</em> - <em class="price">$350.000</em></span>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /#products -->

        </th>
</table>
