﻿@model IEnumerable<PROYECTO_FINAL.Models.Productos>

@{
    ViewBag.Title = "Repuestos";
}

<table class="table">
    <tr>
        <th>
            <div id="products" class="content-section">
                <div class="show-item">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="section-title">Repuestos</h1>
                        </div> <!-- /.col-md-12 -->
                    </div> <!-- /.row -->

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="#" class="view-detail">Disco de freno</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Repuestos/1.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3 class="text-center">Disco de freno</h3>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="/productos/Index" class="view-detail">Llantas</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Repuestos/2.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3 class="text-center">Llantas</h3>
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->

                        <div class="col-md-3 col-sm-6">
                            <div class="product-item">
                                <div class="item-thumb">
                                    <div class="overlay">
                                        <div class="overlay-inner">
                                            <a href="" class="view-detail">Aceites</a>
                                        </div>
                                    </div> <!-- /.overlay -->
                                    <img src="~/images/Repuestos/3.jpg" alt="">
                                </div> <!-- /.item-thumb -->
                                <h3 class="text-center">Aceites</h3>                                
                            </div> <!-- /.product-item -->
                        </div> <!-- /.col-md-3 -->
                                            
                    </div> <!-- /.row -->

                </div> <!-- /.container -->
            </div> <!-- /#products -->
        </th>
</table>
